body {
	background-size: 100% 630px;
	font-family: Sans-Serif;
}
.registration-form{
	background: rgba(0,0,0,.25);
	width: 650px;
	margin: 50px auto;
	padding: 30px;
	border-radius: 10px;
}
.registration-form h2{
	text-align: center;
}
.registration-form input{
	display: block;
	width: 95%;
	font-size: 19px;
	color: white;
	padding: 5px;
	background: transparent;
	border: 1px solid yellow;
	border-radius: 5px;
}
.registration-form label{
	color: yellow;
	padding: 5px 0;
	display: block;
	cursor: pointer;
}
.registration-form button{
	font-size: 20px;
	padding: 10px 40px;
	margin: 25px 250px;
	cursor: pointer;
	background: linear-gradient(#497624, yellow);
	border: transparent;
	border-radius: 5px;
}
.registration-form button:hover{
	background: linear-gradient(yellow,#497624);
}
.registration-form p{
	color: #fff;
}
.registration-form p a{
	color: yellow;
	text-decoration: none;
}
.registration-form p a:hover{
	text-decoration: underline;
}
